.container {
  width: 100%;
}

.inner-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 4rem 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
