@use '@/styles/mixins' as *;

.container {
  &:not(:last-child) {
    margin-right: 2rem;
    margin-bottom: 0;

    @include respond(phone) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }
}

.link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.2s;

  &:link,
  &:visited {
    color: var(--font-color-header);
  }

  &--dark:link,
  &--dark:visited {
    color: var(--color-light);
  }

  &:hover,
  &--active {
    color: var(--color-primary) !important;
  }
}
