@use '@/styles/mixins' as *;

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.svg {
  width: 4rem;
  height: 4rem;
  color: var(--logo-color);
  margin-right: 1rem;

  @include respond(phone) {
    width: 3rem;
    height: 3rem;
  }
}

.text {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--font-color-logo-text);

  &--dark {
    color: var(--color-light);
  }
}
