.container {
  width: 100%;

  &--dark {
    @extend .container;
    background-color: var(--color-gray);
  }
}

.inner-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 6rem;
}
