<section class="section-greet">
  <div class="section-greet__inner-box u-container">
    <h2 class="section-greet__heading">Welcome to my playground</h2>
    <p class="section-greet__text">
      &ldquo;I started this website with the purpose to explore, design, express
      and play with my ideas via building an application, drawing a picture or
      simply writing a blog post within the confine of technology, web
      development, health and well-being. Thank you for visiting.&rdquo; 🙂
    </p>
  </div>
</section>

<style lang="scss" is:global>
  @use '@styles/mixins' as *;

  .section-greet {
    background-color: var(--background-color);

    &__inner-box {
      padding: 9rem 0 3rem;
      text-align: center;

      @include respond(phone) {
        padding: 4rem 2rem;
      }
    }

    &__heading {
      font-size: 5rem;
      font-weight: 700;
      color: var(--color-primary);
      margin-bottom: 3rem;

      @include respond(phone) {
        font-size: 3rem;
      }
    }

    &__text {
      font-size: 2.3rem;
      color: var(--color-gray);
      font-weight: 300;
      line-height: 1.6;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:after {
        margin-top: 8rem;
        content: '';
        display: block;
        height: 2px;
        width: 20rem;
        background-color: var(--color-light);

        @include respond(phone) {
          margin-top: 4rem;
        }
      }

      @include respond(phone) {
        font-size: 1.6rem;
      }
    }
  }

  .theme-dark {
    .section-greet {
      background-color: var(--color-dark);

      &__text {
        color: var(--color-light);
      }
    }
  }
</style>
