<div>
  <p class="text">
    Design inspired by ElegantStack. Built and customised by&nbsp;
    <span>Hugh Nguyen</span>
  </p>
  <p class="text">
    Vector artwork created by Stories (source: www.freepik.com)
  </p>
</div>

<style lang="scss">
  .text {
    font-size: 1.4rem;
    text-align: center;
    color: var(--color-light);
    line-height: 1.6;
    font-weight: 400;
  }
</style>
